@import '../../../assets/common/variables.scss';

.admin-header {
  background-color: #ffffff;
  height: $header_height;
  box-shadow: 0 1px 5px 0 rgba(41,85,115,0.21);
  .left-side {

  }
  .right-side {
    #search-bar {

    }
    .divide-break {
      width: 1px;
      height: 18px;
      align-self: center;
      background-color: red;
      margin: 0 10px;
    }
  }
}