@import 'assets/styles/variables.scss';

.sidebar {
  width: $sidebar_width;
  height: 100vh;
  color: white;
  background-color: black;
  display: inline-block;
  position: fixed;
  z-index: 10;
  .accordion {
    .accordion-item {
      border-radius: 0;
      .accordion-button {
        border-radius: 0;
      }
    }
    .accordion-body {
      padding: 0;
    }
  }
}