@import '../../../assets/common/variables.scss';

.sidebar {
  width: $sidebar_width;
  height: calc(100vh - 48px);
  color: white;
  background-color: black;
  display: inline-block;
  .accordion {
    .accordion-item {
      border-radius: 0;
      .accordion-button {
        border-radius: 0;
      }
    }
    .accordion-body {
      padding: 0;
    }
  }
}