@import 'assets/styles/variables.scss';

.subitem {
  min-height: 32px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  color: $sidebar_color;
  text-decoration: none;
  cursor: pointer;
  &-link {
    width: 100%;
  }
  &.active {
    background-color: #42454B;
    color: #FFFFFF ;
  }
}