@import 'assets/styles/variables.scss';

.admin-layout {
  .content{
    display: flex;
    &-children {
      width: calc(100% - 228px);
      background-color: #ECEFF3;
      min-height: calc(100vh - 48px);
    }
  }
}