@import 'assets/styles/variables.scss';

.admin-layout {
  .content{
    display: flex;
    &-children {
      margin-top: $header_height;
      width: calc(100% - 228px);
      background-color: #ECEFF3;
      min-height: 100vh;
      margin-left: $sidebar_width;
    }
  }
}