@import 'assets/styles/variables.scss';

body {
  margin: 0;
  font-family: "Madefor", "Helvetica Neue", Helvetica, Arial, メイリオ,;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.global-link {
  text-decoration: none;
  color: $header_foreground_color;
  &:hover {
    color: $header_foreground_hover_color;
  }
}

.font-size {
  &-small {
    font-size: $front_size_small;
  }
}