$header_height: 48px;
$sidebar_width: 228px;
$header_foreground_color: #162d3d;
$header_foreground_hover_color: #3899ec;
$primary: #116DFF;
$secondary: #9A27D5;

$sidebar_background: #131720;
$sidebar_color: #cfd0d2;

$--wsr-color-B40: #D6E6FE;
$front_size_small: 14px;